<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="flooder" type="Flooder.Configuration.Section, Flooder"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <flooder>
        <event>
            <fileSystems>
              <add tag="fs" path="C:\temp" file="test.*"/>
            </fileSystems>
            <iis>
                <add tag="iis" path="C:\inetpub\logs\LogFiles\W3SVC1" interval="1"/>
            </iis>
            <eventLogs tag="event" scopes="Application,System"/>
            <performanceCounters tag="pc" interval="15"/>
        </event>
        <worker type="stdout">
            <add host="localhost" port="9999"/>
        </worker>
    </flooder>
</configuration>
